affine==2.3.0
altgraph==0.17.3
attrs @ file:///opt/conda/conda-bld/attrs_1642510447205/work
blinker==1.6.2
Bottleneck @ file:///opt/concourse/worker/volumes/live/ac8c8ef3-2ed0-42e9-6ec0-5bb05ad938f6/volume/bottleneck_1607575111469/work
branca @ file:///home/conda/feedstock_root/build_artifacts/branca_1609346930842/work
brotlipy==0.7.0
CacheControl==0.13.1
cachetools==5.3.1
Cartopy @ file:///Users/runner/miniforge3/conda-bld/cartopy_1642559719909/work
certifi @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_2emnmf1qow/croot/certifi_1690232232440/work/certifi
cffi @ file:///opt/concourse/worker/volumes/live/976f8942-f51d-4f0e-7352-2a10f0820d0e/volume/cffi_1625814703974/work
chardet @ file:///opt/concourse/worker/volumes/live/7e1102c4-8702-40f2-63d6-f260ce5f85e4/volume/chardet_1607706831384/work
click==8.1.7
click-plugins==1.1.1
cligj @ file:///home/conda/feedstock_root/build_artifacts/cligj_1633637764473/work
conda==4.12.0
conda-package-handling @ file:///opt/concourse/worker/volumes/live/8fb3e065-760b-4a9d-4cd9-aca7fc8baf53/volume/conda-package-handling_1618262145611/work
contextily @ file:///home/conda/feedstock_root/build_artifacts/contextily_1634425997309/work
cryptography @ file:///opt/concourse/worker/volumes/live/d5dda287-c0b3-4861-7262-fab05baa64dc/volume/cryptography_1616769284011/work
cx-Freeze==6.15.6
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
Fiona @ file:///Users/runner/miniforge3/conda-bld/fiona_1644293994576/work
firebase-admin==6.2.0
Flask==2.3.3
folium @ file:///home/conda/feedstock_root/build_artifacts/folium_1638560701663/work
fonttools==4.25.0
GDAL==3.4.1
geographiclib @ file:///home/conda/feedstock_root/build_artifacts/geographiclib_1624386157733/work
geopandas @ file:///home/conda/feedstock_root/build_artifacts/geopandas_1638382567988/work
geoplot @ file:///home/conda/feedstock_root/build_artifacts/geoplot_1631385916350/work
geopy @ file:///home/conda/feedstock_root/build_artifacts/geopy_1626114677070/work
google-api-core==2.12.0
google-api-python-client==2.101.0
google-auth==2.23.2
google-auth-httplib2==0.1.1
google-cloud-core==2.3.3
google-cloud-firestore==2.12.0
google-cloud-storage==2.11.0
google-crc32c==1.5.0
google-resumable-media==2.6.0
googleapis-common-protos==1.60.0
grpcio==1.59.0
grpcio-status==1.59.0
gunicorn==21.2.0
htmlmin==0.1.12
httplib2==0.22.0
idna @ file:///home/linux1/recipes/ci/idna_1610986105248/work
importlib-metadata==6.8.0
iniconfig @ file:///home/linux1/recipes/ci/iniconfig_1610983019677/work
itsdangerous==2.1.2
Jinja2==3.1.2
joblib @ file:///tmp/build/80754af9/joblib_1635411271373/work
kiwisolver @ file:///opt/concourse/worker/volumes/live/f8867fdb-2fa2-4145-73d9-4d6f6dad5f7c/volume/kiwisolver_1612282424136/work
macholib==1.16.2
mapclassify @ file:///home/conda/feedstock_root/build_artifacts/mapclassify_1627363180059/work
MarkupSafe==2.1.3
matplotlib @ file:///opt/concourse/worker/volumes/live/4863dc73-443d-42f7-68bf-489aaa0e23a1/volume/matplotlib-suite_1638289695940/work
mercantile @ file:///home/conda/feedstock_root/build_artifacts/mercantile_1619028378680/work
mkl-service==2.4.0
msgpack==1.0.7
munch==2.5.0
munkres==1.1.4
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1635253012265/work
numexpr @ file:///opt/concourse/worker/volumes/live/1b2e7daf-bd00-4a60-406c-d1bd2ab47e8d/volume/numexpr_1640704249262/work
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1626682259041/work
olefile @ file:///Users/ktietz/demo/mc3/conda-bld/olefile_1629805411829/work
opencv-python==4.8.0.74
opencv-python-headless==4.8.0.74
packaging @ file:///tmp/build/80754af9/packaging_1637314298585/work
pandas==1.3.5
pdfkit==1.0.0
Pillow==8.4.0
plotly @ file:///Users/nicolas/opt/miniconda3/envs/env/conda-bld/plotly_1644431521790/work/packages/python/plotly/dist/plotly-5.6.0.tar.gz
pluggy @ file:///opt/concourse/worker/volumes/live/b59eda93-c2e0-4d8d-58d7-54246c8e1958/volume/pluggy_1633715226795/work
progressbar==2.5
progressbar2 @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_72spb4r43h/croot/progressbar2_1676903187995/work
proto-plus==1.22.3
protobuf==4.24.3
py @ file:///opt/conda/conda-bld/py_1644396412707/work
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycosat==0.6.3
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pyinstaller==5.13.2
pyinstaller-hooks-contrib==2023.8
PyJWT==2.8.0
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1608057966937/work
pyparsing @ file:///tmp/build/80754af9/pyparsing_1635766073266/work
pyproj @ file:///Users/runner/miniforge3/conda-bld/pyproj_1641210479290/work
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.2
PyQtWebEngine==5.15.6
PyQtWebEngine-Qt5==5.15.2
pyshp @ file:///home/conda/feedstock_root/build_artifacts/pyshp_1644593068012/work
PySocks @ file:///opt/concourse/worker/volumes/live/112288ac-9cb0-4e73-768b-13baf4ca6419/volume/pysocks_1605305820043/work
pytesseract==0.3.10
pytest==6.2.5
pytest-runner @ file:///tmp/build/80754af9/pytest-runner_1623663836848/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-utils @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_echd16n271/croots/recipe/python-utils_1663332268707/work
pytz==2021.3
rasterio @ file:///Users/runner/miniforge3/conda-bld/rasterio_1641327228494/work
requests @ file:///tmp/build/80754af9/requests_1608241421344/work
rsa==4.9
Rtree @ file:///Users/runner/miniforge3/conda-bld/rtree_1637430848250/work
ruamel-yaml-conda @ file:///opt/concourse/worker/volumes/live/e81cf0fe-611a-498e-6e69-a7320057c1ac/volume/ruamel_yaml_1616016689696/work
scikit-learn @ file:///opt/concourse/worker/volumes/live/cffa5efe-beec-4a37-5774-350794e43990/volume/scikit-learn_1642617139916/work
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy_1644357425623/work
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-split_1629095986539/work
Shapely @ file:///Users/runner/miniforge3/conda-bld/shapely_1637399990558/work
six @ file:///tmp/build/80754af9/six_1623709665295/work
snuggs==1.4.7
tabulate==0.9.0
tenacity @ file:///opt/concourse/worker/volumes/live/c1132be6-ec8e-40b3-71ba-5221ee5cb84c/volume/tenacity_1626248300498/work
threadpoolctl @ file:///Users/ktietz/demo/mc3/conda-bld/threadpoolctl_1629802263681/work
tk==0.1.0
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
tornado @ file:///opt/concourse/worker/volumes/live/2c1a63a2-006b-48ee-56b9-0cfe8b4927f9/volume/tornado_1606942321278/work
tqdm @ file:///tmp/build/80754af9/tqdm_1625563689033/work
uritemplate==4.1.1
urllib3 @ file:///tmp/build/80754af9/urllib3_1625084269274/work
Werkzeug==2.3.7
wget==3.2
xyzservices @ file:///home/conda/feedstock_root/build_artifacts/xyzservices_1644514614795/work
yellowbrick==1.3
zipp==3.16.2
